<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteSize" version="1.1.2" targetFramework="net452" />
  <package id="DotNetZip" version="1.9.8" targetFramework="net452" />
  <package id="Dropbox.Api" version="3.1.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.x86" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
</packages>